# Pandas Series

In [14]:
import pandas as pd
import numpy as np

### 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
ds = pd.Series([1, 2, 3, 4])
ds

0    1
1    2
2    3
3    4
dtype: int64

### 2. Write a Python program to convert a Panda module Series to Python list and it's type

In [7]:
ds = pd.Series([5, 6, 7, 8])
type(ds.tolist())

list

### 3. Write a Python program to add, subtract, multiple and divide two Pandas Series

In [8]:
a = pd.Series([1, 2, 3, 4])
b = pd.Series([5, 6, 7, 8])
res = a.add(b)
res

0     6
1     8
2    10
3    12
dtype: int64

### 4. Write a Python program to get the largest integer smaller or equal to the division of the inputs.

In [11]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 9])
print("Greater: ", a > b)
print("Equal: ", a == b)
print("Less: ", a < b)

Greater:  0    True
1    True
2    True
3    True
4    True
dtype: bool
Equal:  0    False
1    False
2    False
3    False
4    False
dtype: bool
Less:  0    False
1    False
2    False
3    False
4    False
dtype: bool

### 5. Write a Python program to convert a dictionary to a Pandas series.

In [13]:
dct = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds = pd.Series(dct)
ds

a    100
b    200
c    300
d    400
e    800
dtype: int64

### 6. Write a Python program to convert a NumPy array to a Pandas series

In [16]:
arr = np.arange(10)
ds = pd.Series(arr)
ds

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

### 7. Write a Python program to change the data type of given a column or a Series.

In [26]:
ds = pd.Series([100, 200, 'python', 300.12, 400])
print("Error ignored: ", pd.to_numeric(ds ,errors='ignore'))
print("Invalid parsing set a NaN: ", pd.to_numeric(ds ,errors='coerce'))

Error ignored:  0       100
1       200
2    python
3    300.12
4       400
dtype: object
Invalid parsing set a NaN:  0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

### 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.

In [35]:
df = pd.DataFrame({'col1': [0, 1, 2, 3, 4, 5], 'col2':[1, 2, 3, 4, 7, 11], 'col3': [7, 5, 8, 12, 1, 11]})
df['col1']

0    0
1    1
2    2
3    3
4    4
5    5
Name: col1, dtype: int64

### 9. Write a Pandas program to convert a given Series to an array.

In [37]:
ds = pd.Series(np.arange(10))
ds

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

### 10. Write a Pandas program to convert Series of lists to one Series.

In [46]:
ds = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
print("Series:")
print(ds)
ds.apply(pd.Series).stack()

Series:
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

0  0       Red
   1     Green
   2     White
1  0       Red
   1     Black
2  0    Yellow
dtype: object

### 11. Write a Pandas program to sort a given Series.

In [54]:
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
ds.sort_values(ascending=True)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

### 12. Write a Pandas program to add some data to an existing Series.

In [55]:
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
ds1 = pd.Series(['500', 'php'])
ds.append(ds1)

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

### 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [56]:
ds = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
ds[ds < 6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

### 14. Write a Pandas program to change the order of index of a given series.

In [ ]:

ds = pd.Series([1, 2, 3, 4, 5])

### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

### 16. Write a Pandas program to get the items of a given series not present in another given series

### 17. Write a Pandas program to get the items which are not common of two given series.

In [ ]:
b