In [2]:
import pandas as pd

In [15]:
df = pd.read_csv('people.txt', sep=' ')
df

   Age agegroup  height   status  yearsmarried
0   21    adult     6.0   single            -1
1    2    child     3.0  married             0
2   18    adult     5.7  married            20
3  221  elderly     5.0  widowed             2
4   34    child    -7.0  married             3

In [21]:
def checkAge(df):
    age_range = lambda r : r in range(151)
    print(df["Age"].apply(age_range))

In [22]:
checkAge(df)

0     True
1     True
2     True
3    False
4     True
Name: Age, dtype: bool