In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [24]:
df = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
df

                 0                  1   ...       18         19
0            shrimp            almonds  ...  spinach  olive oil
1           burgers          meatballs  ...      NaN        NaN
2           chutney                NaN  ...      NaN        NaN
3            turkey            avocado  ...      NaN        NaN
4     mineral water               milk  ...      NaN        NaN
...             ...                ...  ...      ...        ...
7496         butter         light mayo  ...      NaN        NaN
7497        burgers  frozen vegetables  ...      NaN        NaN
7498        chicken                NaN  ...      NaN        NaN
7499       escalope          green tea  ...      NaN        NaN
7500           eggs    frozen smoothie  ...      NaN        NaN

[7501 rows x 20 columns]

In [63]:
trans = []
for i in range(0, 7501):
    trans.append([str(df.values[i,j]) for j in range(0, 20)])
trans = np.array(trans)
print(trans.shape)

(7501, 20)

In [0]:
data = data.loc[:, ['mineral water', 'burgers', 'turkey', 'chocolate', 'frozen vegetables', 'spaghetti',
                    'shrimp', 'grated cheese', 'eggs', 'cookies', 'french fries', 'herb & pepper', 'ground beef',
                    'tomatoes', 'milk', 'escalope', 'fresh tuna', 'red wine', 'ham', 'cake', 'green tea',
                    'whole wheat pasta', 'pancakes', 'soup', 'muffins', 'energy bar', 'olive oil', 'champagne', 
                    'avocado', 'pepper', 'butter', 'parmesan cheese', 'whole wheat rice', 'low fat yogurt', 
                    'chicken', 'vegetables mix', 'pickles', 'meatballs', 'frozen smoothie', 'yogurt cake']]

In [64]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
data = te.fit_transform(trans)
data = pd.DataFrame(data, columns = te.columns_)
data.shape

(7501, 121)

In [67]:
apriori(data, min_support = 0.01, use_colnames = True)

      support                            itemsets
0    0.238368                     (mineral water)
1    0.087188                           (burgers)
2    0.062525                            (turkey)
3    0.163845                         (chocolate)
4    0.095321                 (frozen vegetables)
..        ...                                 ...
204  0.010132  (ground beef, eggs, mineral water)
205  0.013065         (milk, eggs, mineral water)
206  0.011065  (milk, ground beef, mineral water)
207  0.010532        (spaghetti, chocolate, eggs)
208  0.010932        (spaghetti, milk, chocolate)

[209 rows x 2 columns]

In [68]:
frequent_itemsets = apriori(data, min_support = 0.05, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support                    itemsets  length
0   0.238368             (mineral water)       1
1   0.087188                   (burgers)       1
2   0.062525                    (turkey)       1
3   0.163845                 (chocolate)       1
4   0.095321         (frozen vegetables)       1
5   0.174110                 (spaghetti)       1
6   0.071457                    (shrimp)       1
7   0.052393             (grated cheese)       1
8   0.179709                      (eggs)       1
9   0.080389                   (cookies)       1
10  0.170911              (french fries)       1
11  0.098254               (ground beef)       1
12  0.068391                  (tomatoes)       1
13  0.129583                      (milk)       1
14  0.079323                  (escalope)       1
15  0.081056                      (cake)       1
16  0.132116                 (green tea)       1
17  0.095054                  (pancakes)       1
18  0.050527                      (soup)       1
19  0.065858                 (olive oil)       1
20  0.058526          (whole wheat rice)       1
21  0.076523            (low fat yogurt)       1
22  0.059992                   (chicken)       1
23  0.063325           (frozen smoothie)       1
24  0.052660  (chocolate, mineral water)       2
25  0.059725  (spaghetti, mineral water)       2
26  0.050927       (eggs, mineral water)       2